---
import { Image } from "astro:assets";
import discordFull from "../images/discord-full.svg";
import discordBannerBackground from "../images/discord-banner-background.png";
import { css } from "../../styled-system/css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/fira-sans/600-italic.css";
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/300-italic.css";

const styles = {
  link: css({
    _hover: {
      filter: "brightness(160%) grayscale(20%) saturate(150%)",
      transition: "filter 400ms ease-in-out",
    },
  }),
  mainContainer: css({
    border: "2px solid",
    borderColor: "brand-primary",
    w: "sm",
    minH: "sm",
    position: "relative",
  }),
  insetContainer: css({
    position: "absolute",
    h: "full",
    top: "6",
    textAlign: "center",
    px: "12",
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    justifyContent: "center",
  }),
  copy: css({
    fontSize: "3xl",
    color: "white",
    fontWeight: "300",
    fontStyle: "italic",
    lineHeight: "snug",
    mb: "6",
  }),
  button: css({
    backgroundColor: "brand-primary",
    py: "2",
    px: "6",
    border: "2px solid #008254",
    fontWeight: "700",
  }),
  smallText: css({
    fontWeight: "600",
    color: "white",
    fontStyle: "italic",
  }),
  background: css({
    position: "absolute",
    left: "0",
    top: "0",
    zIndex: "1",
  }),
};
---

<a class={styles.link} href="https://discord.gg/rsBNkmJA">
  <div class={styles.mainContainer}>
    <div class={styles.insetContainer}>
      <div>
        <div class={styles.copy}>
          La nueva comunidad de desarrollo en español
        </div>
        <button class={styles.button}>¡Únete ahora!</button>
      </div>
      <div class={css({ mt: "8" })}>
        <div class={styles.smallText}>por</div>
        <Image src={discordFull} alt="discord-full" class={css({ mt: "2" })} />
      </div>
    </div>
    <Image
      class={styles.background}
      src={discordBannerBackground}
      alt="discord-banner"
    />
  </div>
</a>
