---
interface Props {
  title: string;
  page: string;
}
import { Image } from "astro:assets";
import logoWeb from "../images/logo-web.png";
import { css } from "../../styled-system/css";

const { title, page } = Astro.props;

const styles = {
  body: css({
    height: "100vh",
    width: "100%",
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    backgroundColor: "brand-bg",
  }),
  headerContainer: css({
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    width: "100%",
    height: "100%",
    xl: {
      maxWidth: "7xl",
    },
  }),
  header: css({ pt: "16", px: "16", w: "full" }),
  logoContainer: css({ w: "52", mb: "6", pl: "4" }),
  nav: css({
    borderStyle: "solid",
    borderWidth: "2px",
    borderColor: "brand-primary",
  }),
  navItemContainer: css({
    display: "flex",
    flexFlow: "row",
    p: "4",
    color: "white",
    fontSize: "md",
  }),
  navItem: css({ ml: 2, mr: 8 }),
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class={styles.body}>
    <div class={styles.headerContainer}>
      <header class={styles.header}>
        <div class={styles.logoContainer}>
          <Image src={logoWeb} alt="logoWeb" />
        </div>
        <nav class={styles.nav}>
          <ul class={styles.navItemContainer}>
            <li class={styles.navItem}>
              <a
                href="/"
                style={{ color: page == "home" ? "#26FA87" : "white" }}
                >inicio</a
              >
            </li>
            <li class={styles.navItem}>
              <a
                href="/blog"
                style={{ color: page == "blog" ? "#26FA87" : "white" }}>blog</a
              >
            </li>
            <li>
              <a
                href="/recursos"
                style={{ color: page == "recursos" ? "#26FA87" : "white" }}
                >recursos</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <slot />
    </div>
  </body>
</html>
